# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/

# Build and Packaging
build/
dist/
*.egg-info/
.eggs/

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
gran_dag_local/
dummy.csv

tests/benchmark_results/
tests/benchmark_graphs/